.buttonMenu {
    position: fixed;
    width: 100px;
    height: 100px;
    background: var(--fm-principal);
    border-radius: 100%;
    right: -40px;
    top: -40px;
    cursor: pointer;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
    transition: .2s;
    z-index: 5;
}
.buttonMenu:hover {
    filter: none;
}
.buttonMenu span {
    position: absolute;
    width: 30px;
    height: 3px;
    border-radius: 30px;
    background: #fff;
    bottom: 30px;
    right: 45px;
    transition: 0.5s;
}
.buttonMenu span:nth-child(2) {
    bottom: 38px;
}
.buttonMenu span:last-child {
    bottom: 46px;
}
.buttonMenu.open span:first-child {
    transform: rotate(-45deg);
    bottom: 38px;
}
.buttonMenu.open span:nth-child(2) {
    display: none;
}
.buttonMenu.open span:last-child {
    transform: rotate(45deg);
    bottom: 38px;
}

.menu {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--fm-principal);
    border-radius: 0;
    right: 0;
    top: -100%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    z-index: 3;
    cursor: default;
}
.menu.open {
    top: 0;
}

.menuList {
    text-align: center;
    display: grid;
}
.menuList a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
    padding: 1rem;
    transition: .2s;
}
.menuList a:hover {
    text-shadow: 0px 0px 4px;
}

/* Mobile */
@media (max-width:1280px) {
    .menuList a {
        font-size: 2rem;
    }
}