

.appHeader {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.appLogo {
    padding: 0;
    margin: auto;
}
.appLogoLink {
    text-decoration: none;
    color: var(--fm-principal);
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 2px;
}
.appLogoLink span {
    color: var(--fm-principal-2);
}

@media(max-width: 1280px) {
    .appLogo {
        margin: 0 1rem;
    }
    .appLogoLink {
        font-size: 1.5rem;
    }
}