body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ------------------------------------------- */
/* --------------- Variables ----------------- */
/* ------------------------------------------- */

:root {

  --fm-principal: #3996EE;
  --fm-secondary: #9CCBF6;
  --fm-tertiary: #EE393B;
  --fm-principal-2: #1C4B77;
  --fm-principal-3: #B5D8F9;
  --fm-light-1: #F9F9FA;
  --fm-dark-1: #1E2123;

}